<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
         
               <text-input
               [control]="fc.email"
               [showError]="isSubmitted"
               type="email"
               label="Email"



               >

               </text-input>
         
            <!-- <div class="input-container">
                <label>Email</label>
                <div>
                   
                </div>
                
            </div> -->
           

            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
            </div>
            <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                <div *ngIf="fc.password.errors.password">Should not be empty</div>
                
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>