<app-notfound
[visible]="!food.id"
notFoundMsg="Food not found"
resetLinkText="Back to home page"
>

//food.id makes undefined

</app-notfound  >
<div class="container" *ngIf="food.id" >
  <img [src]="food.imageUrl" [alt]="food.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">
        ❤️
      </span>
    </div>
    <div class="rating">
      Rating : {{food.stars}}
    </div>
    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>
    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>
    <div class="cook-time">
      <span>
        Time to cook <strong>{{food.cookTime}}</strong> minutes
      </span>
    </div>
    <div class="price">
      {{food.price | currency}}
    </div>
    <button (click)="addToCart()" >Add to cart</button>
  </div>
</div>
